<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aufgaben
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
     <ion-list-header>
         <ion-segment scrollable="true" value="open">
             <ion-segment-button value="open">
                 <ion-icon name="square-outline"></ion-icon>
                 Offen
             </ion-segment-button>
             <ion-segment-button value="history">
                 <ion-icon name="timer-outline"></ion-icon>
                 Historie
             </ion-segment-button>
             <ion-segment-button value="closed">
                 <ion-icon name="checkbox-outline"></ion-icon>
                 Erledigt
             </ion-segment-button>
         </ion-segment>
     </ion-list-header>
     <ion-item>
         <ion-checkbox justify="start" labelPlacement="end">Einkaufen</ion-checkbox>
     </ion-item>
     <ion-item>
         <ion-checkbox justify="start" labelPlacement="end">Autowaschen</ion-checkbox>
     </ion-item>
     <ion-item>
         <ion-checkbox justify="start" labelPlacement="end">Zutaten Kuchen holen</ion-checkbox>
     </ion-item>
     <ion-item>
         <ion-checkbox justify="start" labelPlacement="end">Wäsche abgeben</ion-checkbox>
     </ion-item>
 </ion-list>

</ion-content>
