<ion-header>
    <!--<ion-header [translucent]="true">-->
    <ion-toolbar>
        <ion-title>
            Einstellungen
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Datenbank</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
                <ion-button shape="round">
                    <ion-icon slot="start" name="save-outline"></ion-icon>
                    Save and Use new DB
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button shape="round" fill="outline">
                    <ion-icon slot="start" name="flash"></ion-icon>
                    Generate new DB
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-select #auswahl
                            justify="start"
                            label="Orbit DB:"
                            value="default">
                    <ion-select-option value="new">New</ion-select-option>
                    <ion-select-option value="default">Default</ion-select-option>
                    <ion-select-option value="1">#3434-83839002-28292</ion-select-option>
                    <ion-select-option value="2">#3434-83839002-66666</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col>
                <ion-input *ngIf="auswahl.value==='new'"
                           type="text"
                           placeholder="enter your db name"
                           label="DB Name:"
                           class="required"
                ></ion-input>
            </ion-col>
            <ion-col>
                <ion-input *ngIf="auswahl.value==='new'"
                           type="text"
                           placeholder="enter your orbit hash here or generate once"
                           label="Orbit DB Hash:"
                           class="required"
                ></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button shape="round">
                    <ion-icon slot="start" name="save-outline"></ion-icon>
                    Alles Speichern
                </ion-button>
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>





</ion-content>
